@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ANN LATSKY NURSING COLLEGE</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="theme-color" content="#424242" />
    <link href="Content/backend/images/s-favican.png" rel="shortcut icon" type="image/x-icon">
    @Styles.Render("~/Content/backend/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/backend/dist/css/style-main.css")
    @Styles.Render("~/Content/backend/dist/css/jquery.mCustomScrollbar.min.css")
    @Styles.Render("~/Content/backend/dist/themes/red/skins/skin-red.css")
    @Styles.Render("~/Content/backend/dist/themes/red/ss-main-red.css")
    @Styles.Render("~/Content/backend/dist/css/font-awesome.min.css")
    @Styles.Render("~/Content/backend/dist/css/ionicons.min.css")
    @Styles.Render("~/Content/backend/plugins/iCheck/flat/blue.css")
    @Styles.Render("~/Content/backend/plugins/morris/morris.css")
    @Styles.Render("~/Content/backend/plugins/jvectormap/jquery-jvectormap-1.2.2.css")
    @Styles.Render("~/Content/backend/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/backend/plugins/colorpicker/bootstrap-colorpicker.css")
    @Styles.Render("~/Content/backend/plugins/daterangepicker/daterangepicker-bs3.css")
    @Styles.Render("~/Content/backend/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
    @Styles.Render("~/Content/backend/dist/css/custom_style.css")
    @Styles.Render("~/Content/backend/datepicker/css/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/backend/dist/css/dropify.min.css")
    @Styles.Render("~/Content/backend/dist/css/nprogress.css")
    @Styles.Render("~/Content/backend/dist/datatables/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/backend/dist/datatables/css/buttons.dataTables.min.css")
    @Styles.Render("~/Content/backend/dist/datatables/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/backend/dist/datatables/css/responsive.dataTables.min.css")
    @Styles.Render("~/Content/backend/dist/datatables/css/rowReorder.dataTables.min.css")
    <!--print table-->
    @Scripts.Render("~/Content/backend/custom/jquery.min.js")
    @Scripts.Render("~/Content/backend/dist/js/moment.min.js")
    @Scripts.Render("~/Content/backend/datepicker/js/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Content/backend/plugins/colorpicker/bootstrap-colorpicker.js")
    @Scripts.Render("~/Content/backend/datepicker/date.js")
    @Scripts.Render("~/Content/backend/dist/js/jquery-ui.min.js")
    @Scripts.Render("~/Content/backend/js/school-custom.js")
    @Scripts.Render("~/Content/backend/js/sstoast.js")
    <!-- fullCalendar -->
    @Styles.Render("~/Content/backend/toast-alert/toastr.css")
    @Styles.Render("~/Content/backend/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/backend/dist/datatables/css/rowReorder.dataTables.min.css")
</head>
<body class="skin-blue fixed-layout" ng-app="MyApp">
    @RenderBody()



    @*<div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
            <div class="r-panel-body">
                <ul id="themecolors" class="m-t-20">
                    <li><b>With Light sidebar</b></li>
                    <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme working">4</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                    <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                    <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                </ul>
                <ul class="m-t-20 chatonline">
                    <li><b>Chat option</b></li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="~/assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/App/angular")

    <script src="~/App/App.js"></script>
    <script src="~/App/Controllers/Controller.js"></script>
    @RenderSection("scripts", required: false)






    @*<script src="assets/node_modules/Chart.js/chartjs.init.js"></script>*@
    @*<script src="assets/node_modules/Chart.js/Chart.min.js"></script>*@
    @*<script src="assets/node_modules/calendar/jquery-ui.min.js"></script>*@
    @*<script src="assets/node_modules/moment/moment.js"></script>*@
    @*<script src='assets/node_modules/calendar/dist/fullcalendar.min.js'></script>*@
    @*<script src="assets/node_modules/calendar/dist/cal-init.js"></script>*@
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    @*<script src="assets/node_modules/raphael/raphael-min.js"></script>*@
    @*<script src="assets/node_modules/morrisjs/morris.min.js"></script>*@
    @*<script src="assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>*@
    <!-- Popup message jquery -->
    @*<script src="assets/node_modules/toast-master/js/jquery.toast.js"></script>*@
    <!-- Chart JS -->
    @*<script src="assets/dist/js/dashboard1.js"></script>*@
</body>
</html>
